<%- include("header") -%>

<h2> Thank you Pedro Pascal, for the gift of your mercy. I will utilize these crumbs you have left me to sequester strength and vanquish my enemies</h2>

<p> drink coffee</p>


<%- include("footer") -%>